# Python cache
__pycache__/

# Data folders
data/raw/
data/processed/

.conda/

# VSCode
.vscode/

# Wandb
wandb/

# Checkpoints
outputs/

# Experiment outputs (generated during runs)
artifacts/
checkpoints/
outputs/
wandb/
